<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Title -->
    <title>Mohammad Roudbari</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Brex-Theme"/>
    <!-- description -->
    <meta name="description"
          content="{{tags.first.description}}"/>
    <!-- canonical -->
    <link rel="canonical" href="{{tags.first.canonical}}">


    <meta property="og:locale" content="{{ tags.first.locale }}">
    <meta property="og:type" content="{{ tags.first.type }}">
    <meta property="og:title" content="{{ tags.first.title }}">
    <meta property="og:description" content="{{ tags.first.descriptionOg }}">

    <meta property="og:site_name" content="{{ tags.first.site_name }}">
    <meta property="article:modified_time" content="{{ tags.first.modified_time }}">

    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="720">
    <meta property="og:image:type" content="image/jpeg">


    <!-- keywords -->
    <meta name="keywords"
          content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal"
    />
    <!-- animation -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}"/>
    <!-- Animated Headlines -->
    <link rel="stylesheet" href="{% static 'css/plugins/animated-headlines.css' %}"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- font-awesome icon -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
    <!-- Animated Headlines -->
    <link rel="stylesheet" href="{% static 'css/plugins/animated-headlines.css' %}"/>
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup.css' %}"/>
    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>

<body>
<!-- ===== Start Navbar ===== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        {% for logos in logo %}
            <a class="navbar-brand" href="#"><img src="{{ logos.image.url }}" alt="{{ logos.alt }}"></a>
        {% endfor %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#slider">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                </li>
                <!-- Drop Down-->
                <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                    {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                    {#                        <a class="dropdown-item" href="../blog/index.html">Blog List</a>#}
                    {#                        <a class="dropdown-item" href="../single-post/index.html">Single Post</a>#}
                    {#                    </div>#}
                </li>
                <!-- Drop Down-->
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- ===== End Navbar ===== -->

<!-- ===== Start Slider ===== -->
<section class="slider d-flex justify-content-center" id="slider">
    <div class="container text-center">
        <div class="row all-content">
            <div class="col-12">
                <div class="left-content">
                    <p class="hello">
                        HELLO I'M</p>
                    <!-- Animated Text-->
                    <div class="animated-headlines">
                        <h1 class="cd-headline clip is-full-width">
                                <span class="cd-words-wrapper">
                                    <b class="is-visible bolddd">Mohammad Roudbari</b>
                                            <b>Web Developer</b>
                                            <b>UI/UX Designer</b>
                                        </span>
                        </h1>
                    </div>
                    <p class="paragraph">
                        If, at first, you do not succeed, call it version 1.0.
                    </p>
                    <!-- <a href="#0" class="btn">
                                Download CV</a> -->
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js" class="particels"></div>
</section>
<!-- ===== End Slider ===== -->


<!-- ===== Start About Me ===== -->
<section class="about-me" id="about">
    <div class="container">
        <div class="row">
            {% for abouts in about %}
                <div class="col-md-5">
                    <img src="{{ abouts.image.url }}" alt="" class="img-fluid">
                </div>
                <div class="col-md-7">
                    <h2>About Me</h2>
                    <p>
                        {{ abouts.body1 }}
                        <br><br>
                        {{ abouts.body2 }}
                        <br><br>
                        {{ abouts.body3 }}
                    </p>
                    <a href="#0" class="btn-1">Download CV</a>
                    <a href="#portfolio" class="btn-2">Portfolio</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ===== End About Me ===== -->

<!-- ===== Start Services ===== -->
<section class="services" id="services">
    <h2 class="text-center">Services</h2>
    <div class="container">
        <div class="row">
            {% for services in service %}
                <!-- Box -->
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <span class="{{ services.icon }}"></span>
                        <h3>{{ services.title }}</h3>
                        <p>{{ services.body }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ===== End Services ===== -->

<!-- ===== Start Some Facts ===== -->
<section class="some-facts">
    <div class="container text-center">
        {% for facts in fact %}
            <div class="row">
                <!-- Box-1 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="items">
                        <span class="fa fa-skyatlas"></span>
                        <h3>
                            <span class="counter">{{ facts.clients }}</span></h3>
                        <div class="line mx-auto"></div>
                        <h4>Happy Clients</h4>
                    </div>
                </div>
                <!-- Box-2 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="items">
                        <span class="fa fa-heart-o"></span>
                        <h3>
                            <span class="counter">{{ facts.projects }}</span></h3>
                        <div class="line mx-auto"></div>
                        <h4>Projects Compleated</h4>
                    </div>
                </div>
                <!-- Box-3 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="items">
                        <span class="fa fa-globe"></span>
                        <h3>
                            <span class="counter">{{ facts.files }}</span></h3>
                        <div class="line mx-auto"></div>
                        <h4>Files Downloaded</h4>
                    </div>
                </div>
                <!-- Box-4 -->
                <div class="col-lg-3 col-sm-6">
                    <div class="items">
                        <span class="fa fa-user-o"></span>
                        <h3>
                            <span class="counter">{{ facts.lines }}</span></h3>
                        <div class="line mx-auto"></div>
                        <h4>Liens Of Code</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<!-- ===== End Some Facts ===== -->

<!-- ===== Start Portfolio ===== -->
<section class="portfolio" id="portfolio">
    <div class="container">
        <h2 class="text-center">Portfolio</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="button-group filter-button-group text-center">
                    <button data-filter="*" class="active">All</button>
                    <button data-filter=".marketing">Marketing</button>
                    <button data-filter=".design">Design</button>
                    <button data-filter=".development">Development</button>
                </div>
            </div>
        </div>
        <div class="row grid">
            <!-- Image-1 -->
            {% for portfolios in portfolio %}
                <div class="col-lg-4 col-md-6 grid-item {{ portfolios.sort }}">
                    <div class="single-portfolio-item ">
                        <img src="{{ portfolios.image.url }}" alt="{{ portfolios.alt }}" class="img-fluid">
                        <div class="overlay text-center">
                            <div class="content">
                                <h3>{{ portfolios.title }}</h3>
                                <!-- <p>Brand</p> -->
                                <a href="{{ portfolios.image.url }}" alt="{{ portfolios.alt }}" class="image-link">
                                    <span class="fa fa-eye"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
<!-- ===== End Portfolio ===== -->


<!-- ===== Start Testimonials ===== -->
<section class="testimonials" id="testimonials">
    <div class="container text-center">
        <h2>Testimonials</h2>
        <div class="row text-center">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <!-- Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <!-- Item-1 -->
                        <div class="carousel-item active text-center">
                            <img src="{% static 'img/testimonials.png' %}" alt="" class="colon">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitordapibus dictum.<br>
                                Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            <img src="{% static 'img/comment_logo.png' %}" alt="" class="center-block team">
                            <h3>Alamin Musa</h3>
                            <h4>Front End Developer</h4>
                        </div>
                        <!-- Item-2 -->
                        <div class="carousel-item text-center">
                            <img src="{% static 'img/testimonials.png' %}" alt="" class="colon">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitordapibus dictum.<br>
                                Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            <img src="{% static 'img/comment_logo.png' %}" alt="" class="center-block team">
                            <h3>Alamin Musa</h3>
                            <h4>Front End Developer</h4>
                        </div>
                        <!-- Item-3 -->
                        <div class="carousel-item text-center">
                            <img src="{% static 'img/testimonials.png' %}" alt="" class="colon">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitordapibus dictum.<br>
                                Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            <img src="{% static 'img/comment_logo.png' %}" alt="" class="center-block team">
                            <h3>Alamin Musa</h3>
                            <h4>Front End Developer</h4>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="fa fa-angle-left icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="fa fa-angle-right icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===== End Testimonials ===== -->


<!-- ===== Start Blog ===== -->
<section class="blog" id="blog">
    <div class="container">
        <h2 class="text-center">Our Blog</h2>
        <div class="row">
            {% for article in articles %}
                <!-- Post-1 -->
                <div class="co-md-6 col-lg-4">
                    <div class="box">
                        <div class="image">
                            <img src="{{ article.image.url }}" alt="{{ article.alt }}">
                            {#                            <a href="" class="cate">Web</a>#}
                        </div>
                        <div class="text">
                            <h3><a href="{% url 'blog:articles_detail' article.slug %}">{{ article.title }}</a></h3>
                            <h4>{{ article.author }} , {{ article.created }}</h4>
                            {#                            <p>{{ article.body|truncatewords:30|safe }}</p>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="" class="cate">Web</a>#}
</section>
<!-- ===== End Blog ===== -->


<!-- ===== Start Contact ===== -->
<section class="contact" id="contact">
    <h2 class="text-center">Keep In Touch</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form.Name.label_tag }}
                            {{ form.Name }}
                        </div>
                        <div class="col-sm-6">
                            {{ form.Email.label_tag }}
                            {{ form.Email }}
                        </div>
                        <div class="col-sm-12">
                            {{ form.Subject.label_tag }}
                            {{ form.Subject }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.Message.label_tag }}
                        {{ form.Message }}
                    </div>
                    <button class="btn btn-block" type="submit">Send Now!</button>
                </form>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <span class="fa fa-map-marker"></span>
                    <p>2651 Main Street, Suit 124
                        <br> Seattle, WA, 98101</p>

                    <span class="fa fa-mobile"></span>
                    <p>0123456789
                        <br> 0345627891
                    </p>

                    <span class="fa fa-at"></span>
                    <p>hello@thetheme.io <br> inf0@brex-theme.io</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===== End Contact ===== -->


<!-- ===== Start Footer ===== -->
<footer class="footer text-center">
    <!-- <div class="social-icons">
        <span class="fa fa-facebook" aria-hidden="true"></span>
        <span class="fa fa-twitter" aria-hidden="true"></span>
        <span class="fa fa-dribbble" aria-hidden="true"></span>
        <span class="fa fa-skype" aria-hidden="true"></span>
    </div> -->
    <p>All Rights Reserved 2023</p>
</footer>
<!-- ===== End Footer ===== -->

<!-- ==== javascript libraries ==== -->
<!-- jQuery-->
<script src="{% static 'js/plugins/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap 4.1.3 -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/popper.min.js' %}"></script>
<!-- Animated Headlines -->
<script src="{% static 'js/plugins/animated-headlines.js' %}"></script>
<!-- Nav jQuery-->
<script src="{% static 'js/plugins/nav.jquery.js' %}"></script>
<!-- Nav jQuery-->
<script src="{% static 'js/plugins/jquery.stellar.js' %}"></script>
<!-- Isotope -->
<script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
<!-- Image Loaded -->
<script src="{% static 'js/plugins/imagesloaded.pkgd.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/plugins/magnific-popup.min.js' %}"></script>
<!-- Smooth-Scroll -->
<script src="{% static 'js/smooth-scroll.js' %}"></script>
<!-- Counter Up -->
<script src="{% static 'js/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.counterup.min.js' %}"></script>
<!-- Particles Js -->
<script src="{% static 'js/plugins/particles.min.js' %}"></script>
<script src="{% static 'js/plugins/app.js' %}"></script>
<!-- Animated Headlines -->
<script src="{% static 'js/plugins/animated-headlines.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>