<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Title -->
    <title>Mohammad Roudbari | Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mohammad Roudbari"/>
     <!-- description -->
    <meta name="description"
          content="{{ tags.first.description }}"/>
    <!-- canonical -->
    <link rel="canonical" href="http://127.0.0.1:8000/blog/?page=1">


    <meta property="og:locale" content="{{ tags.first.locale }}">
    <meta property="og:type" content="{{ tags.first.type }}">
    <meta property="og:title" content="{{ tags.first.title }}">
    <meta property="og:description" content="{{ tags.first.description }}">

    <meta property="og:site_name" content="{{ tags.first.site_name }}">
    <meta property="article:modified_time" content="">

    <meta property="og:image:width" content="">
    <meta property="og:image:height" content="">
    <meta property="og:image:type" content="image/jpeg">
    <!-- keywords -->
    <meta
            name="keywords"
            content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal"/>
    <!-- animation -->
    <link rel="stylesheet" href="{% static 'css2/plugins/animate.css' %}"/>
    <!-- Animated Headlines -->
    <link rel="stylesheet" href="{% static 'css2/plugins/animated-headlines.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css2/bootstrap.min.css' %}"/>
    <!-- font-awesome icon -->
    <link
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css2/font-awesome.min.css"
            rel="stylesheet">
    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900"
            rel="stylesheet">
    <!-- Animated Headlines -->
    <link rel="stylesheet" href="{% static 'css2/plugins/animated-headlines.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'css2/plugins/magnific-popup.css' %}"/>
    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'css2/main.css' %}"/>
</head>

<body>
<!-- ===== Start Navbar ===== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home_app:home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#slider">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                </li>
                <!-- Drop Down-->
                <li class="nav-item dropdown">
                    <a
                            class="nav-link "
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Blog
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../blog/index.html">Blog List</a>
                        <a class="dropdown-item" href="../single-post/index.html">Single Post</a>
                    </div>
                </li>
                <!-- Drop Down-->
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- ===== End Navbar ===== -->


<!-- ===== Start Blog ===== -->
<section class="blog" id="blog">
    <div class="container">
        <h2 class="text-center">Blog</h2>
        <div class="row">
            <!-- Post-1 -->
            {% for blog in articles %}
                <div class="co-md-6 col-lg-4">
                    <div class="box">
                        <div class="image">
                            <img src="{{ blog.image.url }}" alt="{{blog.alt}}">
                            {#                            <a href="" class="cate">Web</a>#}
                        </div>
                        <div class="text">
                            <h3><a href="{% url 'blog:articles_detail' blog.slug %}">{{ blog.title }}</a></h3>
                            <h4>{{ blog.author }} , {{ blog.created }}</h4>
                            <p> {{ blog.body|truncatewords:30|safe }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    {% if articles.has_previous %} {# whether the previous page exists #}
        <a href="?page={{ articles.previous_page_number }}">Previous<</a> {# link to the prev page #}
    {% endif %}
    <span>{{ articles.number }}</span> {# the current page number #}
    {% if articles.has_next %} {# whether the next page exists #}
        <a href="?page={{ articles.next_page_number }}">>Next</a> {# link to the next page #}
    {% endif %}
</section>
<!-- ===== End Blog ===== -->

<!-- ===== Start Footer ===== -->
<footer class="footer text-center">
    <div class="social-icons">
        <span class="fa fa-facebook" aria-hidden="true"></span>
        <span class="fa fa-twitter" aria-hidden="true"></span>
        <span class="fa fa-dribbble" aria-hidden="true"></span>
        <span class="fa fa-skype" aria-hidden="true"></span>
    </div>
    <p>All Right Resceved 2018</p>
</footer>
<!-- ===== End Footer ===== -->

<!-- ==== javascript libraries ==== -->

<!-- jQuery-->
<script src="{% static 'js2/plugins/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap 4.1.3 -->
<script src="{% static 'js2/bootstrap.min.js' %}"></script>
<script src="{% static 'js2/plugins/popper.min.js' %}"></script>
<!-- Animated Headlines -->
<script src="{% static 'js2/plugins/animated-headlines.js' %}"></script>
<!-- Nav jQuery-->
<script src="{% static 'js2/plugins/nav.jquery.js' %}"></script>
<!-- Nav jQuery-->
<script src="{% static 'js/plugins/jquery.stellar.js' %}"></script>
<!-- Isotope -->
<script src="{% static 'js2/plugins/isotope.pkgd.min.js' %}"></script>
<!-- Image Loaded -->
<script src="{% static 'js2/plugins/imagesloaded.pkgd.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js2/plugins/magnific-popup.min.js' %}"></script>
<!-- Smooth-Scroll -->
<script src="{% static 'js2/smooth-scroll.js' %}"></script>
<!-- Counter Up -->
<script src="{% static 'js2/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js2/plugins/jquery.counterup.min.js' %}"></script>
<!-- Particles Js -->
<script src="{% static 'js2/plugins/particles.min.js' %}"></script>
<script src="{% static 'js2/plugins/app.js' %}"></script>
<!-- Animated Headlines -->
<script src="{% static 'js2/plugins/animated-headlines.js' %}"></script>
<script src="{% static 'js2/main.js' %}"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            outputType: 'text' // or 'html' for custom HTML without <p> tags
        })
        .catch(error => {
            console.error(error);
        });

</script>
</body>
</html>